@import "~react-select-search/style.css";

$select-dark: #11172b;

div.select-search:hover {
  border-color: $select-dark;
}

.select-search__option.is-selected {
  background-color: $select-dark;
  color: #fff;

  &:hover {
    background-color: $select-dark; 
    opacity: 0.8;
  }
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background-color: $select-dark;
  opacity: 0.6;
  color: #fff;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background-color: $select-dark;
  color: #fff;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: $select-dark;
}